@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');




:root {
    box-sizing: border-box;
    font-family: Helvetica;
    color: rgb(202, 112, 9);

  }
  
  body {
      font-family: helvetica;
      background-image: url('https://images.unsplash.com/photo-1604357209793-fca5dca89f97?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bWFwfGVufDB8MXwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
    height: 100vh;
    display: flex;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "nav"
      "main"
  }
  body > nav {
     grid-area: nav;
     display: grid;
     /* background-color: rgb(202, 112, 9); */
     height: 100vh;
    background-size: cover;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 0 20px 0 30px;
    font-weight: bolder;
    font-size: 200%;
    color: rgb(219, 114, 16);
  }
  
  body > main {
      grid-area: main;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 20px;
  }
  body > main h1:first-child {
    margin-bottom: 50px;
  }
  nav > a {
    /* color: black; */
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  nav > a:hover {
    color: black;
    background-color: #e8edee;
  }
  #new-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
  }


  #new-form *,  #add-review-form *, #add-information-form * {
    color: rgb(219, 114, 16);
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }
  #new-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
  }
  table thead th {
      color: blanchedalmond;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  table td {
    color: blanchedalmond;
    padding: 10px;
    text-align: center;
  }
  #list a:hover {
    background-color: white;
  }
  #show-page {
    color:rgb(202, 112, 9);
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
  #add-review-form, #add-performer-form {
    color:rgb(202, 112, 9);
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
  #add-review-form input[type="submit"], 
  #add-performer-form input[type="submit"] {
    width: 10rem;
    grid-column: 2 / 3;
    margin-bottom: 2rem;
  }
  
 
  h1 {
    font-family: 'Monoton';
    font-weight: 500;
    color: rgb(219, 114, 16);
    border-bottom: 2px solid rgb(17, 7, 156);
  } 
   .delete-form button {
    color: red;
   }
   #informations-page {
       color: blanchedalmond;
       font-size: 20px;
   }
   #informations-drop {
       color: rgb(219, 114, 16);
       font-size: 15px;
   }
   h2, #add-to-feature{
    color:rgb(202, 112, 9);
   }

  